---
import DatabaseIcon from "../icons/Database.astro";
import LinkButton from "../buttons/LinkButton.astro";
import GithubIcon from "../icons/GithubIcon.astro";
import CodeIcon from "../icons/CodeIcon.astro";
import PythonIcon from "../icons/Python.astro";
import BoostrapIcon from "../icons/BootstrapIcon.astro";
import Tailwind from "../icons/Tailwind.astro";
import React from "../icons/React.astro";

const TAGS = {
  MSSQL: {
    name: "SQL Server",
    class: "bg-black text-white",
    icon: DatabaseIcon,
  },
  VBA: {
    name: "Visual Basic",
    class: "bg-gradient-to-r from-blue-600 to-purple-800 text-white",
    icon: CodeIcon,
  },
  ASP: {
    name: "ASP.Net",
    class: "bg-[#7114e7] text-white",
    icon: CodeIcon,
  },
  Bootstrap: {
    name: "Bootstrap",
    class: "bg-white text-[#7114e7]",
    icon: BoostrapIcon,
  },
  Python: {
    name: "Python",
    class: "bg-slate-900 text-white",
    icon: PythonIcon,
  },
  Tailwind: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  React: {
    name: "React",
    class: "bg-slate-900 text-white",
    icon: React,
  },
};
const PROJECTS = [
  {
    title: "Romero's Tires and Rims",
    description:
      "A CRM built in Visual Basic for managing customer profiles, integrated with SQL Server.",
    github: "https://github.com/ORomero227/RomerosTiresAndRims",
    image: "/projects/romeros.webp",
    tags: [TAGS.MSSQL, TAGS.VBA],
  },
  {
    title: "RomeroBlog",
    description:
      "A Flask blog with user registration, comments, and post management for admins.",
    github: "https://github.com/ORomero227/RomeroBlog",
    image: "/projects/RomeroBlogLogo.webp",
    tags: [TAGS.Python, TAGS.Bootstrap],
  },
  {
    title: "Chef Claude",
    description:
      "ChefClaude is a React app with Tailwind CSS that uses Claude AI to generate recipes from user-provided ingredients.",
    github: "https://github.com/ORomero227/ChefClaude",
    image: "/projects/ChefClaude.webp",
    tags: [TAGS.React, TAGS.Tailwind],
  },
  {
    title: "Real Estate Entry Genius",
    description:
      "Python automation for extracting real estate listings and auto-filling forms.",
    github: "https://github.com/ORomero227/Real-Estate-Entry-Genius",
    image: "/projects/realstate.webp",
    tags: [TAGS.Python],
  },
];
---

<div class="flex flex-col md:grid md:grid-cols-2 gap-y-16 md:gap-x-6">
  {
    PROJECTS.map(({ image, title, description, tags, github }) => (
      <article class="flex flex-col space-x-0 space-y-8 group">
        <div class="w-full">
          <div class="relative flex flex-col items-center gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl lg:border lg:border-gray-800 lg:hover:border-gray-700">
            <img
              alt={title}
              class="object-cover w-full h-auto transition-all duration-300"
              src={image}
              loading="lazy"
            />
          </div>
        </div>

        <div class="w-full md:max-w-lg">
          <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
            {title}
          </h3>
          <div class="flex flex-wrap mt-2">
            <ul class="flex flex-row mb-2 gap-x-2">
              {tags.map((tag) => (
                <li>
                  <span
                    class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-2 px-2 `}
                  >
                    <tag.icon class="size-4" />
                    {tag.name}
                  </span>
                </li>
              ))}
            </ul>

            <div class="mt-2 text-gray-700 dark:text-gray-400">
              {description}
            </div>
            <footer class="flex items-end justify-start mt-4 gap-x-4">
              {github && (
                <LinkButton href={github}>
                  <GithubIcon class="size-6" />
                  Code
                </LinkButton>
              )}
            </footer>
          </div>
        </div>
      </article>
    ))
  }
</div>
